@media only screen and (max-width: 767px) { 
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .top-header-social {
        text-align: center;
        margin-bottom: 10px;
    }
    .text-right {
        text-align: center !important;
    }
    .top-header-area {
        &.bg-color {
            border: none;
        }
    }
    .top-header-others {
        text-align: center;

        .languages-list {
            .nice-select {
                z-index: 999999;
            }
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 5px 0 0 0;

                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
        }
        .mean-nav {
            margin-top: 50px;
        }
    }
    .main-responsive-nav {
        .logo {
            img {
                max-width: 155px !important;
                position: relative;
                z-index: 99999;
            }
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -32px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 280px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
                text-align: center;
            }  
        }   
        .option-inner {
            .others-options {
                margin-left: 0;

                .option-item {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .languages-list {
                        display: inline-block;
                        .nice-select {
                            .list {
                                right: auto;
                                left: 0;
                                margin: 5px 0 0;
                            }
                        }
                    }
                }
                &.d-flex {
                    display: block !important;
                }
            }
            .others-options2 {
                margin-left: 0;

                .option-item2 {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .languages-list {
                        display: inline-block;
                        .nice-select {
                            .list {
                                right: auto;
                                left: 0;
                                margin: 5px 0 0;
                            }
                        }
                    }
                }
                &.d-flex2 {
                    display: block !important;
                }
            }
        }
    } 
    .main-news-area {
        padding-bottom: 50px;
    }
    .single-main-news {
        .news-content {
            padding: 15px;
            h3 {
                font-size: 20px;
                margin-bottom: 12px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .single-main-news-inner {
        .news-content {
            padding: 15px;
            h3 {
                font-size: 20px;
                margin-bottom: 12px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .single-main-news-box {
        .news-content {
            h3 {
                font-size: 14px;
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }
    }
    .most-popular-post {
        .post-content {
            padding: 20px;
        }
    }
    .video-item {
        .video-news-content {
            h3 {
                font-size: 18px;
            }
        }
    }
    .politics-news-post {
        .politics-news-content {
            h3 {
                font-size: 18px;
                margin-top: 20px;
            }
        }
    }
    .single-sports-news {
        .sports-news-content {
            margin-top: 20px;
        }
    }
    .single-tech-news {
        .tech-news-content {
            margin-top: 20px;
        }
    }
    .culture-news-post {
        .culture-news-content {
            h3 {
                margin-top: 20px;
            }
        }
    }
    .single-health-news {
        .health-news-content {
            padding: 10px;
        }
    }
    .widget-area {
        margin-top: 30px;

        .widget_stay_connected {
            .stay-connected-list {
                li {
                    flex: unset;
                    max-width: unset;
                    width: 100%;
                }
            }
        }
    }
    .single-footer-widget {
        .post-content {
            h4 {
                margin-top: 15px;
            }
            .row {
                .col-lg-8 {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
    .pl-5, .px-5 {
        padding-left: 0 !important;
    }
    .single-new-news-box {
        .new-news-content {
            h3 {
                font-size: 25px;
            } 
        }
    }   
    .new-news-area {
        padding-bottom: 50px;
    }
    .breaking-news-content {
        margin-bottom: 15px;
        text-align: center;

        .breaking-title {
            float: unset;
            margin-bottom: 10px;
        }
    }
    .breaking-news-slides {
        .single-breaking-news {
            p {
                padding-left: 0;
            }
        }
    }
    .single-main-default-news-inner {
        .news-content {
            h3 {
                font-size: 20px;
            }
        }
    }
    .single-tech-news-box {
        img {
            width: 100%;
        }
    }
    .single-health-news {
        margin-bottom: 30px;
    }
    .health-news-content {
        margin-top: 15px;
    }    
    .culture-news-content {
        margin-top: 15px;
    }
    .widget-area {
        .widget_newsletter {
            margin-bottom: 30px !important;
        }
    }
    .news-slider-item {
        .slider-content {
            padding: 15px;

            h3 {
                font-size: 20px;
            }
        }
    }
    .politics-news-content-box {
        margin-top: 15px;
    }
    .business-news-content-box {
        margin-top: 15px;
    }
    .mt-0, .my-0 {
        margin-top: 15px !important;
    }
    .sports-news-post {
        .sports-news-image {
            img {
                margin-bottom: 15px;
            }
        }
    }
    .author-content {
        text-align: center;
        margin-top: 30px;

        h3 {
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
    .about-content {
        h3 {
            font-size: 20px;
        }
    }
    .page-title-content {
        text-align: center;
        h2 {
            margin-bottom: 12px;
            font-size: 25px;
        }
        ul {
            text-align: center;
            position: relative;
            right: 0;
            top: unset;
            transform: unset;
        }
    }
    .login-form {
        padding: 30px 15px;

        h2 {
            font-size: 20px;

            &::before {
                height: 20px;
            }
        }
        form {
            .lost-your-password {
                text-align: left;
                margin-top: 10px;
            }
        }
    }
    .register-form {
        padding: 30px 15px;

        h2 {
            font-size: 20px;

            &::before {
                height: 20px;
            }
        }
        form {
            .lost-your-password {
                text-align: left;
                margin-top: 10px;
            }
        }
    }
    .error-content {
        h3 {
            font-size: 20px;
        }
    }
    .coming-soon-content {
        padding: 30px 25px;

        #timer {
            margin-top: 30px;

            div {
                width: 100px;
                height: 105px;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 20px;
                margin-top: 10px;
            }
        }
        h2 {
            font-size: 25px;
        }
    }
    .contact-form {
        padding: 20px;
    }
    .single-news-item {
        .news-content {
            margin-top: 15px;
        }
    }
    .news-area {
        &.bg-ffffff {
            .widget-area {
                margin-top: 0;

                .widget {
                    &:last-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .blog-details-desc {
        .article-content {
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 20px;
            }
        }
    }
    .news-details-area {
        &.bg-ffffff {
            .widget-area {
                margin-top: 0;

                .widget {
                    &:last-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .blog-details-desc {
        .article-content {
            .desc-overview {
                .desc-image {
                    img {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-header-area {
        &.bg-color {
            border: none;
        }
    }
    .single-main-news {
        .news-content {
            h3 {
                font-size: 30px;
            }
        }
    }
    .single-main-news-inner {
        .news-content {
            h3 {
                font-size: 25px;
            }
        }
    }
    .single-main-news-box {
        .news-content {
            h3 {
                font-size: 18px;
            }
        }
    }
    .most-popular-post {
        .post-content {
            padding: 0;
        }
    }
    .politics-news-post {
        .politics-news-content {
            h3 {
                margin-top: 10px;
            }
        }
    }
    .culture-news-post {
        .culture-news-content {
            h3 {
                margin-top: 10px;
            }
        }
    }
    .single-health-news {
        .health-news-content {
            padding: 30px;
        }
    }
    .login-form {
        form {
            .lost-your-password {
                text-align: right;
                margin-top: 0;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-100 {
        padding-top: 70px;
    }
    .pb-70 {
        padding-bottom: 40px;
    }
    .top-header-social {
        text-align: center;
        margin-bottom: 10px;
    }
    .text-right {
        text-align: center !important;
    }
    .top-header-area {
        &.bg-color {
            border: none;
        }
    }
    .top-header-others {
        text-align: center;

        .languages-list {
            .nice-select {
                z-index: 999999;
            }
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 5px 0 0 0;

                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
        }
        .mean-nav {
            margin-top: 50px;
        }
    }
    .main-responsive-nav {
        .logo {
            img {
                max-width: 155px !important;
                position: relative;
                z-index: 99999;
            }
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -32px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 280px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
                text-align: center;
            }  
        }   
        .option-inner {
            .others-options {
                margin-left: 0;

                .option-item {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .languages-list {
                        display: inline-block;
                        .nice-select {
                            .list {
                                right: auto;
                                left: 0;
                                margin: 5px 0 0;
                            }
                        }
                    }
                }
                &.d-flex {
                    display: block !important;
                }
            }
            .others-options2 {
                margin-left: 0;

                .option-item2 {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .languages-list {
                        display: inline-block;
                        .nice-select {
                            .list {
                                right: auto;
                                left: 0;
                                margin: 5px 0 0;
                            }
                        }
                    }
                }
                &.d-flex2 {
                    display: block !important;
                }
            }
        }
    } 
    .main-news-area {
        padding-bottom: 50px;
    }
    .single-main-news-inner {
        img {
            width: 100%;
        }
    }
    .single-most-popular-news {
        .popular-news-image {
            img {
                width: 100%;
            }
        }
    }
    .single-politics-news {
        .politics-news-image {
            img {
                width: 100%;
            }
        }
    }
    .single-culture-news {
        .culture-news-image {
            img {
                width: 100%;
            }
        }
    }
    .featured-reports-image {
        img {
            width: 100%;
        }
    }
    .most-shared-image {
        img {
            width: 100%;
        }
    }
    .single-footer-widget {
        .post-content {
            h4 {
                margin-top: 15px;
            }
            .row {
                .col-lg-8 {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
    .pl-5, .px-5 {
        padding-left: 0 !important;
    }
    .sports-news-content {
        margin-top: 15px;
    }
    .tech-news-content {
        margin-top: 15px;
    }
    .new-news-image {
        img {
            width: 100%;
        }
    }
    .new-news-area {
        padding-bottom: 50px;
    }
    .breaking-news-content {
        margin-bottom: 15px;
        text-align: center;

        .breaking-title {
            float: unset;
            margin-bottom: 10px;
        }
    }
    .breaking-news-slides {
        .single-breaking-news {
            p {
                padding-left: 0;
            }
        }
    }
    .single-main-default-news {
        img {
            width: 100%;
        }
    }
    .single-sports-news-box {
        .sports-news-image {
            img {
                width: 100%;
            }
        }
    }
    .widget-area {
        margin-top: 30px;

        .widget_newsletter {
            margin-bottom: 30px !important;
        }
    }
    .single-health-news {
        margin-bottom: 30px;
    }
    .news-slider-item {
        .slider-content {
            h3 {
                font-size: 25px;
            }
        }
    }
    .politics-news-content-box {
        margin-top: 15px;
    }
    .business-news-content-box {
        margin-top: 15px;
    }
    .single-business-news {
        .business-news-image {
            img {
                width: 100%;
            }
        }
    }
    .single-tech-inner-news {
        .tech-news-image {
            img {
                width: 100%;
            }
        }
    }
    .mt-0, .my-0 {
        margin-top: 15px !important;
    }
    .single-video-item {
        .video-news-image {
            img {
                width: 100%;
            }
        }
    }
    .author-content {
        text-align: center;
        margin-top: 30px;
        
        h3 {
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
    .single-overview-news {
        .overview-news-image {
            img {
                width: 100%;
            }
        }
    }
    .page-title-content {
        text-align: center;
        h2 {
            margin-bottom: 12px;
            font-size: 25px;
        }
        ul {
            text-align: center;
            position: relative;
            right: 0;
            top: unset;
            transform: unset;
        }
    }
    .coming-soon-content {
        padding: 30px 25px;

        #timer {
            margin-top: 30px;
            
            div {
                width: 100px;
                height: 105px;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 20px;
                margin-top: 10px;
            }
        }
        h2 {
            font-size: 25px;
        }
    }
    .single-news-item {
        .news-content {
            margin-top: 15px;
        }
        .news-image {
            img {
                width: 100%;
            }
        }
    }
    .news-area {
        &.bg-ffffff {
            .widget-area {
                margin-top: 0;

                .widget {
                    &:last-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .news-details-area {
        &.bg-ffffff {
            .widget-area {
                margin-top: 0;

                .widget {
                    &:last-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .blog-details-desc {
        .article-content {
            .desc-overview {
                .desc-image {
                    img {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-header-area {
        &.bg-color {
            border: none;
        }
    }
    .top-header-others {
        .languages-list {
            .nice-select {
                z-index: 999999;
            }
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 5px 0 0 0;

                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
            padding-top: 0;
        }
        .mean-nav {
            margin-top: 50px;
        }
    }
    .main-responsive-nav {
        .logo {
            img {
                max-width: 155px !important;
                position: relative;
                z-index: 99999;
            }
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -32px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 280px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
                text-align: center;
            }  
        }   
        .option-inner {
            .others-options {
                margin-left: 0;

                .option-item {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .languages-list {
                        display: inline-block;
                        .nice-select {
                            .list {
                                right: auto;
                                left: 0;
                                margin: 5px 0 0;
                            }
                        }
                    }
                }
                &.d-flex {
                    display: block !important;
                }
            }
            .others-options2 {
                margin-left: 0;

                .option-item2 {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .languages-list {
                        display: inline-block;
                        .nice-select {
                            .list {
                                right: auto;
                                left: 0;
                                margin: 5px 0 0;
                            }
                        }
                    }
                }
                &.d-flex2 {
                    display: block !important;
                }
            }
        }
    } 
    .main-news-area {
        padding: 50px;
    }
    .single-main-news-inner {
        .news-content {
            padding: 15px;

            h3 {
                font-size: 18px;
            }
        }
    }
    .single-main-news-box {
        .news-content {
            padding-left: 10px;
            padding-right: 10px;

            h3 {
                font-size: 13px;
            }
        }
    }
    .single-footer-widget {
        .post-content {
            .post-image {
                a {
                    img {
                        max-width: 60px;
                    }
                }
            }
        }
    }
    .single-footer-widget {
        .social {
            li {
                a {
                    i {
                        height: 25px;
                        width: 25px;
                        line-height: 25px;
                        font-size: 16px;
                    } 
                }
            }
        }
    }   
    .widget-area {
        .widget_stay_connected {
            .stay-connected-list {
                li {
                    flex: unset;
                    max-width: unset;
                    width: 100%;
                }
            }
        }
    }
    .new-news-area {
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2500px) {

}

@media only screen and (min-width: 1550px) {

}